@namespace Cezium.Web.Front.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>

    <link rel="preload" href="~/Assets/Font/FugazOne/FugazOne-Regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="stylesheet" href="~/Assets/Font/Font.css">
    <link rel="stylesheet" href="~/Assets/css/Background.css">
</head>

<body style="margin: 0">
@RenderBody()
</body>

</html>