@page
@model Cezium.Web.Front.Pages.Index

@Html.AntiForgeryToken()

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Cezium - Home</title>
    <meta name="description" content="Cezium home page">
    <link rel="stylesheet" href="~/Web/Front/Assets/css/Index/Index.css">
</head>

<body>
<div>
    <div class="fugaz-one-font" style="text-align: center; margin-top: 8px">
        CEZIUM
    </div>
    <div class="fugaz-one-font noselect" style="color: white; white-space: nowrap; font-size: 64px; text-align: center; margin-top: 15%">
        W.I.P
    </div>
</div>
</body>
</html>