@page
@model Cezium.Web.Front.Pages.Index

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Cezium - Home page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Cezium home page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="margin: 0">
<div style="margin: 0; padding: 0; color: white">
    content test
</div>
</body>
</html>