@page
@model Cezium.Web.Front.Pages.Index

@Html.AntiForgeryToken()

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Cezium - Home</title>
    <meta name="description" content="Cezium home page">
    <link rel="stylesheet" href="~/Web/Front/Assets/css/Index/Index.css">
</head>

<body>
<div style="margin: 8px">
    <div class="fugaz-one-font" style="text-align: center;">
        CEZIUM
    </div>
    @* <div class="flex-container"> *@
    @*     <div> *@
    @*         <div class="fugaz-one-font"> *@
    @*             MOUSE - ONLINE <br/> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
</div>
</body>
</html>