@page "/Keyboard"
@model Cezium.Web.Front.Pages.Keyboard

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cezium - Keyboard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Cezium home page">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Assets/css/Index/Index.css">
</head>
<body>
<div style="margin: 8px">
    
</div>
</body>
</html>