@page "/Mouse"
@model Cezium.Web.Front.Pages.Mouse

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Cezium - Mouse</title>
    <meta name="description" content="Cezium home page">
    <link rel="stylesheet" href="~/Web/Front/Assets/css/Mouse/Mouse.css">
    <script src="~/Web/Front/Assets/Js/Mouse/Mouse.js"></script>
</head>
<body>
<div>
    <div class="flex-container">
        <div style="height: 40px">
            <div>
                <label class="switch" for="MouseState" style="float: left">
                    <div class="fugaz-one-font noselect" style="color: white; margin-left: 56px">
                        State
                    </div>
                    <input type="checkbox" id="MouseState" checked="checked" onclick='handleMouseState(this);'/>
                    <div class="slider round"></div>
                </label>

                <label class="switch" for="DebugState" style="float: right; margin-right: 56px">
                    <div class="fugaz-one-font" style="color: white; margin-left: 56px;">
                        Debug
                    </div>
                    <input type="checkbox" id="DebugState"/>
                    <div class="slider round"></div>
                </label>
            </div>
            <div class="fugaz-one-font noselect" style="color: white; text-align: center">
                MOUSE
            </div>
        </div>
    </div>
    <div class="flex-container">
        <div>
            <div id="content" style="opacity: 1">
                <div style="margin-bottom: 8px;">
                    <label class="switch" for="InvertMouseX">
                        <div class="fugaz-one-font noselect" style="color: white; margin-left: 56px; white-space: nowrap;">
                            Invert Horizontal Mouse Movements
                        </div>
                        <input type="checkbox" id="InvertMouseX" onclick='handleInvertMouseX(this);'/>
                        <div class="slider round"></div>
                    </label>
                </div>
                <div style="margin-top: 8px;">
                    <label class="switch" for="InvertMouseY">
                        <div class="fugaz-one-font noselect" style="color: white; margin-left: 56px; white-space: nowrap;">
                            Invert Vertical Mouse Movements
                        </div>
                        <input type="checkbox" id="InvertMouseY" onclick='handleInvertMouseY(this);'/>
                        <div class="slider round"></div>
                    </label>
                </div>
                <div style="margin-top: 8px;">
                    <label class="switch" for="InvertMouseWheel">
                        <div class="fugaz-one-font noselect" style="color: white; margin-left: 56px; white-space: nowrap;">
                            Invert Mouse Wheel Movements
                        </div>
                        <input type="checkbox" id="InvertMouseWheel" onclick='handleInvertMouseWheel(this);'/>
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>