@page "/Mouse"
@model Cezium.Web.Front.Pages.Mouse

@Html.AntiForgeryToken()

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Cezium - Mouse</title>
    <meta name="description" content="Cezium mouse settings page">
    <link rel="stylesheet" href="~/Web/Front/Assets/css/Mouse/Mouse.css">
    <script src="~/Web/Front/Assets/Js/Mouse/Mouse.js"></script>
</head>
<body>

<div>
    <div class="flex-container">
        <div style="height: 40px">
            <div class="fugaz-one-font noselect" style="color: white; display: inline-block; left: 50%; transform: translateX(-50%); position: relative;">
                MOUSE
            </div>
            <label class="switch" for="DebugState" style="float: right; margin-right: 56px;">
                <div class="fugaz-one-font noselect" style="color: white; margin-left: 56px;">
                    Debug
                </div>
                <input type="checkbox" id="DebugState"/>
                <div class="slider round"></div>
            </label>
        </div>
    </div>
    <div class="fugaz-one-font noselect" style="color: white; white-space: nowrap; font-size: 64px; text-align: center; margin-top: 15%">
        W.I.P
    </div>
</div>
</body>
</html>