@page "/Rust"
@model Cezium.Web.Front.Pages.Rust

@{
    Layout = "_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Cezium - Rust</title>
    <meta name="description" content="Cezium home page">
    <link rel="stylesheet" href="/Web/Front/Assets/css/Index/Index.css">
</head>
<body>
<div style="margin: 8px">
    
</div>
</body>
</html>